@using Microsoft.AspNetCore.Identity
@using DoAnCoSo.Areas.Identity.Data

@inject SignInManager<QuanLyHoiThaoUser> SignInManager
@inject UserManager<QuanLyHoiThaoUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="GiaiDaus" asp-action="Create">Tạo Giải Đấu</a>
    </li>

    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="LoaiGiaiDaus" asp-action="Index">Loại Giải Đấu</a>
    </li>
    <li class="nav-item">
        <a class ="nav-link text-dark", href="@Url.Content("~/admin/roles")">Quản lý Role</a>
    </li>

    <li class="nav-item">
        <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
    </li>

    <li class="nav-item">
        <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button id="logout" type="submit" class="nav-link btn btn-link text-dark border-0">Logout</button>
        </form>
    </li>
    
}

</ul>
